*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --grey: #83869A;
  --dark-blue: #13183F;
  --purplish-grey: #666CA5;
  --magenta: #F74780;
  --pink: #FFA7C3;
  --white: #FFF;
}

/* Typography  */
body {
  margin: 0;
  font: 500 16px / 26px 'Plus Jakarta Sans', sans-serif;
  color: var(--grey);
}

.logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
}

.btn {
  padding: 10px 24px;
  border-radius: 28px;
  font: 700 16px / 28px 'Plus Jakarta Sans', sans-serif;
  text-decoration: none;
  color: #FFF;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.nav .logo {
  color: var(--dark-blue);
}

.nav .btn {
  background-color: var(--dark-blue);
}

.nav .btn:hover,
.nav .btn:focus {
  background-color: var(--purplish-grey);
}

.hero-title {
  margin: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: var(--dark-blue);
}

.hero-btn {
  display: inline-block;
  margin-top: 24px;
  padding: 15px 37px;
  border-radius: 32px;
  font: 700 16px / 26px 'Plus Jakarta Sans', sans-serif;
  background: linear-gradient(#FF6F48, #F02AA6);
  text-decoration: none;
  color: var(--white)
}

.hero-btn:hover,
.hero-btn:focus {
  opacity: 0.5;
}

.catalog-title {
  margin: 0;
  padding: 24px 28px 32px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  background: linear-gradient(#FF6F48, #F02AA6);
  color: var(--white);
}

.course-title {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: var(--dark-blue);
}

.course-link {
  display: inline-block;
  margin-top: 24px;
  font: 700 18px / 28px 'Plus Jakarta Sans', sans-serif;
  text-decoration: none;
  color: magenta;
}

.course-link:hover,
.course-link:focus {
  opacity: 0.5;
}

.footer-attribution {
  margin: 0;
  font-size: 12px;
  color: var(--dark-blue);
  text-align: center;
}

.footer-link {
  font-size: 12px;
  text-decoration: none;
  color: var(--magenta);
}

.footer-link:hover,
.footer-link:focus {
  opacity: 0.5;
}

/* Reusable */
.container {
  width: 92%;
  margin: 0 auto;
}

/* Generic */

.hero {
  position: relative;
  padding: 16px 0 66px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  margin-top: 38px;
}

.hero-text {
  margin: 26px 0 0;
}

.hero-image {
  margin: 46px 0 0;
  width: 100%;
  height: 80.4vw;
  background-image: url("./assets/image-hero-mobile.webp");
  background-position: center 20%;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog {
  padding-bottom: 80px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.catalog .container {
  display: flex;
  flex-direction: column;
}

.course {
  position: relative;
  margin-top: 40px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 56px 28px 32px;
  background-color: var(--white);
}

.course-icon {
  position: absolute;
  top: -24px;
}

.course-description {
  margin: 16px 0 0;
}

.footer-bg {
  padding: 36px 0;
  background-color: var(--dark-blue);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  color: var(--white)
}

.footer .btn {
  background: linear-gradient(#4851FF, #F02AA6);
}

.footer .btn:hover,
.footer .btn:focus {
  opacity: 0.5;
}

@media screen and (min-width: 500px) {
  .hero-image {
    background-image: url("./assets/image-hero-mobile@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }

  .hero {
    height: 641px;
    padding-bottom: 0;
    background-image: url("./assets/image-hero-desktop.webp");
    background-position: right -280px bottom 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero-content {
    margin-top: 99px;
    width: 57.6%;
  }

  .hero-image {
    display: none;
  }

  .catalog {
    padding-bottom: 86px;
  }

  .catalog .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }

  .catalog-title {
    flex: 1 1 40%;
  }

  .course {
    flex: 1 1 40%;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }

  .logo {
    font-size: 30px;
  }

  .btn {
    padding: 14px 32px;
    font-size: 18px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 71px;
  }

  .hero-btn {
    margin-top: 40px;
    padding: 18px 32px;
    font-size: 18px;
    line-height: 28px;
  }

  .catalog {
    padding-bottom: 140px;
  }

  .catalog-title {
    font-size: 32px;
    line-height: 40px;
  }

  .course-title {
    font-size: 24px;
    line-height: 31px;
  }

  .footer-attribution,
  .footer-link {
    font-size: 16px;
  }

  .container {
    width: 77%;
    max-width: 1110px;
  }

  .hero {
    padding-top: 24px;
  }

  .hero-content {
    margin-top: 172px;
    width: 457px;
  }

  .hero-text {
    margin-top: 29px;
  }

  .hero {
    height: 837px;
    padding-bottom: 0;
    background-image: url("./assets/image-hero-desktop@2x.webp");
    background-position: right -50px bottom 80px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .catalog .container {
    gap: 30px;
  }

  .catalog-title {
    flex-basis: 345px;
    flex-grow: 0;
  }

  .course {
    flex-basis: 345px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 32px 40px;
  }

  .course-description {
    margin-top: 24px;
  }

  .footer-bg {
    padding: 32px 0;
  }
}